$font_root_url: 'https://fonts.gstatic.com/s' !default;

/* ROBOTO DRAFT FONT */
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(#{$font_root_url}/robotodraft/v1/0xES5Sl_v6oyT7dAKuoni4gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2'), url(#{$font_root_url}/robotodraft/v1/0xES5Sl_v6oyT7dAKuoni7rIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url(#{$font_root_url}/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwXJuJo8UJJfpGKt7pXjBv4s.woff2) format('woff2'), url(#{$font_root_url}/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwaTA90I55Xt7owhZwpPnMsc.woff) format('woff');
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), url(#{$font_root_url}/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-Vwf79_ZuUxCigM2DespTnFaw.woff2) format('woff2'), url(#{$font_root_url}/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 400;
  src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(#{$font_root_url}/robotodraft/v1/er-TIW55l9KWsTS1x9bTfgeOulFbQKHxPa89BaxZzA0.woff2) format('woff2'), url(#{$font_root_url}/robotodraft/v1/er-TIW55l9KWsTS1x9bTfoo3ZslTYfJv0R05CazkwN8.woff) format('woff');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(#{$font_root_url}/materialicons/v16/2fcrYFNaTjcS6g4U3t-Y5SQZRqoBW5Q4K_a7BOZJO20.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(#{$font_root_url}/materialicons/v16/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2'),
       url(#{$font_root_url}/materialicons/v16/2fcrYFNaTjcS6g4U3t-Y5ewrjPiaoEww8AihgqWRJAo.woff) format('woff'),
       url(#{$font_root_url}/materialicons/v16/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf) format('truetype');
}


/* TODO is this part of the spec? Demos rely on this. */
.paper-list-inline {
  list-style  : none;
  margin-left : -5px;
  padding-left: 0;
}

.paper-list-inline > li {
  display      : inline-block;
  padding-left : 5px;
  padding-right: 5px;
}

// Icon spinners (not part of angular-material)
.md-spin {
   animation: md-spin 1.5s infinite linear;
}

.md-spin-reverse {
  animation: md-spin-reverse 1.5s infinite linear;
}

// Spin
@keyframes md-spin {
  0% {
    transform: rotate(0deg);
   }
  100% {
    transform: rotate(359deg);
  }
}

// Spin Reverse
@keyframes md-spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}

// Core styles
@import 'color-palette';
@import 'default-theme';
@import './angular-material/core/style/mixins';
@import './angular-material/core/style/variables';
@import './angular-material/core/style/structure';
@import './angular-material/core/style/typography';
@import './angular-material/core/services/layout/layout.attributes';
@import './angular-material/core/services/layout/layout.scss';

// Component styles
@import './angular-material/components/content/content';
@import './angular-material/components/content/content-theme';

@import './angular-material/components/card/card';
@import './angular-material/components/card/card-theme';

@import './angular-material/components/button/button';
@import './angular-material/components/button/button-theme';

@import './angular-material/components/checkbox/checkbox';
@import './angular-material/components/checkbox/checkbox-theme';

@import './angular-material/components/radioButton/radio-button';
@import './angular-material/components/radioButton/radio-button-theme';

@import './angular-material/components/switch/switch';
@import './angular-material/components/switch/switch-theme';

@import './angular-material/components/input/input';
@import './angular-material/components/input/input-theme';

@import './angular-material/components/list/list';
@import './angular-material/components/list/list-theme';

@import './angular-material/components/divider/divider';
@import './angular-material/components/divider/divider-theme';

@import './angular-material/components/whiteframe/whiteframe';

@import './angular-material/components/toolbar/toolbar';
@import './angular-material/components/toolbar/toolbar-theme';

@import './angular-material/components/icon/icon';
@import './angular-material/components/icon/icon-theme';

@import './angular-material/components/slider/slider';
@import './angular-material/components/slider/slider-theme';

@import './angular-material/components/subheader/subheader';
@import './angular-material/components/subheader/subheader-theme';

@import './angular-material/components/autocomplete/autocomplete';
@import './angular-material/components/autocomplete/autocomplete-theme';

@import './angular-material/components/progressLinear/progress-linear';
@import './angular-material/components/progressLinear/progress-linear-theme';

@import './angular-material/components/progressCircular/progress-circular';
@import './angular-material/components/progressCircular/progress-circular-theme';

@import './angular-material/components/menu/menu';
@import './angular-material/components/menu/menu-theme';

@import './angular-material/components/select/select';
@import './angular-material/components/select/select-theme';

@import './angular-material/components/gridList/grid-list';

@import './angular-material/components/sidenav/sidenav';
@import './angular-material/components/sidenav/sidenav';

@import './angular-material/components/backdrop/backdrop';
@import './angular-material/components/backdrop/backdrop-theme';

@import './angular-material/components/dialog/dialog';
@import './angular-material/components/dialog/dialog-theme';

// Backports of features from future versions of angular-material-source to this version
@import './backports/paper-input';
